[Desktop Entry]
Type=Application
Name=emindprinter-daemon
Name[zh_CN]=一铭云打印
Comment=Emindcloud printer
Comment[zh_CN]=快速访问一铭云打印客户端
Exec=/usr/bin/emindprinter-daemon
Terminal=false
Categories=System;

